body {
    background: #000;
    color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

canvas {
    max-width: 100%;
    width: 100%;
    height: auto !important;
}

.dots {
    width: 100%;
}

.txt {
    color: #fff;
}

.grid {
    display: flex;
}

.controls {
    padding: 1em;
}

input.small {
    max-width: 50px;
}

.row {
    display: flex;
}
